<div class="container">
	<h1 class="pt-3 text-center">
		Actualizar Curso
		<%= link_to cursos_path, class: "btn btn-ligth float-left mt-2" do %>
			<%= fa_icon "chevron-left", text: "Atrás" %>
		<% end %>
	</h1>
	<hr>
</div>
	

<%= render 'form', curso: @curso %>