<div class="container">
	<h1 class="pt-3 text-center">
		Registrar Materia
		<%= link_to materias_path, class: "btn btn-ligth float-left mt-2" do %>
			<%= fa_icon "chevron-left", text: "Atrás" %>
		<% end %>
		<hr>
	</h1>
	
</div>

<%= render 'form', materia: @materia %>

