<h1>Problema</h1>
<p>
    La Intitución Educativa Monseñor Gerardo Patiño no cuenta con un sistema el cual le permite organizar y manipular
    la informacion de sus alumnos, docentes, cursos y materias. 
</p>
