<nav class="navbar justify-content-center btn-group">
    <%= link_to "Inicio", root_path, class:"nav-link btn btn-light text-dark w-25"  %>
    <%= link_to "Creditos", pages_credit_path, class:"nav-link  btn btn-light text-dark w-25"  %>
    <%= link_to "Ayuda", pages_help_path, class:"nav-link  btn btn-light text-dark w-25"  %>
    <%= link_to "Sobre", pages_about_path, class:"nav-link  btn btn-light text-dark w-25"  %>
</nav>
<p class="text-muted text-center">
    Desarrollado por Juan Pablo Carrascal Cudriz - 2018
</p>